/* 
Color scheme design for
the blog.

   #525564 
   #74828F 
   #96C0CE 
   #BEB9B5 
   #C25B56 
   #FEF6EB

PALE GOLD: #c0b283
SILK     : #dcd0c0
PAPER    : #f4f4f4
CHARCOAL : #373737
 */

html, body {
    color: #373737;
    background-color: #f4f4f4;
    font-family: Sans-serif;
    margin: 0px;
}

header {
    background-image: url('277H.jpg');
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    
    align-items: center;
    color: #373737;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;

    margin: 0px;
    padding: 0px;
}

pre {
    border-top: 2px solid black;
}



#toggle-post span {
    padding: 40px;

    position: absolute;
    bottom: 10%;
    left: 47.56%;
}

#toggle-post span:before,
#toggle-post span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 50px;
    background: #c0b283;
    position: absolute;
    display: block;
    content: "";
}

#toggle-post span:before {
    transform: rotate(-45deg);
    left: 31.8px;
}

#toggle-post span:after {
    transform: rotate(45deg);
    right: 31.8px;

}

#toggle-post span:hover:before,
#toggle-post span:hover:after {
    transition: all 500ms ease-in-out;
    background-color: #f4f4f4;
}



#toggle-nav span {
    position: absolute;
    right: 5%;
    top: 7%;
}

#toggle-nav span,
#toggle-nav span:before,
#toggle-nav span:after {
    curstor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 50px;
    background: #373737;
    position: absolute;
    display: block;
    content: "";
}

#toggle-nav span:before {
    top: -10px;
}

#toggle-nav span:after {
    bottom: -10px;
}




footer {
    background-image: url('277H.jpg');
    background-position: center top;
    align-items: center;
    display: flex;
    flex-direction: rows;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    height: 100px;
}






.mail {
    margin: 0px 10px 0px 0px;
}


.created {
    font-size: 14px;
    font-style: italic;
}

.post {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo-top {
    padding-bottom: 2%;
    border-bottom: solid 5px #c0b283;
}

article {
    background-color: #f4f4f4;
    max-width: 800px;
    margin: 0px auto 40px;
}


a {
    color:#373737;
    text-decoration: none;
}

.blog-title:visited {
    color:#373737;
    text-decoration: none;
}

.blog-title:hover {
    color:#c0b283;
    text-decoration: none;
}




















