/* 
Color scheme design for
the blog.

   #525564 
   #74828F 
   #96C0CE 
   #BEB9B5 
   #C25B56 
   #FEF6EB

PALE GOLD: #c0b283
SILK     : #dcd0c0
PAPER    : #f4f4f4
CHARCOAL : #373737
 */

html, body {
    color: #373737;
    background-color: #f4f4f4;
    font-family: Sans-serif;
    margin: 0px;
}

header {
    background-image: url('277H.jpg');
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    
    align-items: center;
    color: #373737;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;

    margin: 0px;
    padding: 0px;
}

footer {
    background-image: url('277H.jpg');
    align-items: center;
    display: flex;
    flex-direction: rows;
    letter-spacing: 3px;
    text-transform: uppercase;
    justify-content: center;
    height: 100px;
}

.mail {
    margin: 0px 10px 0px 0px;
}


.created {
    font-size: 14px;
    font-style: italic;
}

.post {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.logo-top {
    padding-bottom: 2%;
    border-bottom: solid 5px #c0b283;
}

nav {
    position: absolute;
    right: 2%;
    top: 2%;
}

.item1, .item2, .item3 {
    color: #c0b283;
    border-bottom: solid 5px;
    padding: 3px 20px 5px 40px;
    display: block;
}




.show-content {
    position: absolute;
    bottom: 3%;
    left: 48.5%;
    padding: 25px 21px;
}

.show-content:hover {
    bottom: 3.5%;
}

.arrow1 {
    position: absolute;
    left: 1px;
    bottom: 3%;
    height: 50px;
    transform: rotate(-45deg);
    padding: 2px;
    background-color: #c0b283;
}

.arrow2 {
    position: absolute;
    right: 1px;
    bottom: 3%;
    height: 50px;
    transform: rotate(45deg);
    padding: 2px;
    background-color: #c0b283;
}



article {
    background-color: #f4f4f4;
    max-width: 800px;
    margin: 0px auto 40px;
}


a {
    color:#373737;
    text-decoration: none;
}

.blog-title:visited {
    color:#373737;
    text-decoration: none;
}

.blog-title:hover {
    color:#c0b283;
    text-decoration: none;
}




















